[log_files]
log_today = /var/log/db_doc_onoff.log
log_yesrtoday = /var/log/db_doc_onoff.log.1
log_history = /var/log/db_doc_onoff.log.2
log_all = /var/log/db_doc_onoff.log.*

[searchid_files]
wk_dir = /opt/xml_transfer/
pre_offline = id.txt.2.pre_offline
offline = id.txt.2.offline
online = id.txt.2.online

[mongo]
host = 10.200.26.28
port = 27017
